


.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

.section__header{
    margin-top: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    scroll-margin-top: 14vh
}