@media (min-width: 768px) {
	//GENERICS-----------------------------------------------------------------------------

	.section {
		margin-top: 4em;
	}

	.section__header {
		font-size: 3em;
	}

	//NAV--------------------------------------------------------------------------

	.burger-btn {
		display: none;
	}

	.nav {
		display: flex;
		justify-content: space-between;
		padding: 1em;
		height: 12vh;
		color: $main-black;

		&__logo {
			font-size: 2em;
			align-self: center;

			& span {
				padding: 0 0.2em;
			}
		}

		&__list-desktop {
			display: flex;
			height: 100%;
			padding: 0;
		}

		&__item-desktop {
			height: 12vh;
			font-size: 1em;
			padding: 5vh;
			align-self: center;
			color: $main-black;
			text-decoration: none;
			font-weight: 500;
			transition: 0.5s color;

			&:hover {
				display: block;
				margin: 0;
				background-color: $main-black;
				color: $main-white;
			}
		}
	}

	//HEADER-----------------------------------------------------------------------------------------

	.header {
		height: 50vh;

		&__img {
			background-image: url("../../dist/img/jungle-1807476_1280.webp");

			&-text {
				& h2 {
					font-size: 2em;
					font-weight: 300;
				}

				& p {
					font-size: 3em;
					font-weight: 700;
				}
			}
		}
	}

	//MAIN

	//ABOUT-US SECTION-----------------------------------------------------------------------------------------
	.about-us {
		&__box {
			display: flex;
			flex-direction: column;
			padding: 2em;
		}

		&__description {
			&-header {
				font-size: 2em;
			}

			&-text {
				margin-top: 0.3em;
				font-size: 1.2em;
			}
		}
	}

	//ADVENTURE SECTION-----------------------------------------------------------------------------------------

	.adventure {
		&__box {
			height: 25vh;
		}

		&__img {
			background-image: url("../../dist/img/girl-5785590_1280.webp");
		}

		&__description-header {
			font-size: 1.6em;
			padding: 1.2em 1em;
		}
	}

	//OFFER SECTION-----------------------------------------------------------------------------------------
	.offer {
		&__box {
			height: 30em;
			width: 23em;

			&-description {
				margin-top: .5em;
				font-weight: normal;
				font-size: 2.5em;
			}

			&-price {
				font-weight: bold;
				font-size: 4em;
				margin: 0.4em;
			}

			&-benefit-list {
				list-style-type: none;

				&-item {
					font-size:1.2em;
					margin: 0.2em;
					padding: 0.2em;
				}
			}

			&-button {
				margin-top: 1.5em;
				padding: 0.6em 5em;
				border: none;
				box-shadow: 0 0 6px $main-gray;
				border-radius: 2%;
				cursor: pointer;
				font-size: 1em;
				transition: background-color 0.3s, box-shadow 0.3s;

				&:hover {
					background-color: $main-green;
					box-shadow: 0 0 6px $main-green;
				}
			}
		}
	}
}
