@media (min-width: 576px) {
	//GENERICS-----------------------------------------------------------------------------
	.section__header {
		font-size: 2em;
	}

	//NAV--------------------------------------------------------------------------

	//HEADER-----------------------------------------------------------------------------------------
	.header {
		&__img {
			& h2 {
				font-size: 1.5em;
				font-weight: 400;
			}

			& p {
				font-size: 2em;
				font-weight: 700;
			}
		}
	}

	//MAIN

	//ABOUT-US SECTION-----------------------------------------------------------------------------------------

	//ADVENTURE SECTION-----------------------------------------------------------------------------------------
	.adventure {

		&__box {
			height: 23vh;

		}


		
		&__description-header {
			font-size: 1.2em;
			padding: 1.2em 1em;
		
		}
	}

//OFFER SECTION-----------------------------------------------------------------------------------------
.offer {
	&__boxes {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}

}

//FOOTER----------------------------------------------------------------------------------------
.footer {

	&__logo {
		display: flex;
		align-self: center;
		font-size: 1.6em;
	}


	&__lists {
		display: flex;
		width: 100%;
		justify-content: center;
		ul > a li {
			list-style-type: none;
			margin: 0.5em 1em;
			font-size: 1.1em;
		}

		&-header {
			font-size: 1.1em;
			margin: 2em 1em 0.5em 1em;
		
		
		}
	}

	&__copy-right {
		font-size: 1.2em;
	}
}

}
