@media(min-width: 576px){

    .header{
        height: 40vh;
        position: relative;
    
        &__img{
               
                & h2{
                    font-size: 1.5em;
                    font-weight: 400;
                }
    
                & p{
                    font-size: 2em;
                    font-weight: 700;
                }
            }
        
        }
   
   //about-us section
.about-us {


	&__description {
		&-header {
			margin-top: 1em;
		}

        &-text {
			margin-top: .2em;
		}
	}
}
   
   
    }




