@use "colors" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $main-white;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

//GENERICS-----------------------------------------------------------------------------
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.section {
	margin-top: 5rem;
}

.section__header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	scroll-margin-top: 14vh;
}

.fa-check,
.fa-minus {
	padding: 0 0.5em;
}

.fa-check {
	color: $main-green;
}

//NAV--------------------------------------------------------------------------

.fa-tree {
	color: $main-gray;
}

.burger-btn {
	position: absolute;
	top: 30%;
	right: 7%;
	font-size: 4rem;
	cursor: pointer;
	z-index: 100;
}

.nav-container {
	position: sticky;
	top: 0%;
	z-index: 500;
	background-color: $main-white;
	border-bottom: 1px solid $main-gray;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	height: 12vh;
	background-color: $main-white;
	color: $main-black;

	&__logo {
		font-size: 2em;
		align-self: center;

		& span {
			padding: 0 0.1em;
		}
	}

	&__list-desktop {
		display: none;
	}

	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: $main-white;
		width: 100%;
		z-index: 2;
		transform: translateX(110%);
		transition: 0.7s linear;

		&--active {
			transform: translateX(0%);
		}
	}

	&__list-mobile {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__item-mobile {
		height: 12vh;
		font-size: 2em;
		padding: 5vh;
		color: $main-black;
		text-decoration: none;
		font-weight: 500;
		transition: 0.5s color;

		&:hover {
			display: block;
			margin: 0;
			color: $main-green;
		}
	}
}

//HEADER-----------------------------------------------------------------------------------------
.header {
	height: 40vh;
	position: relative;

	&__img {
		width: 100%;
		height: 100%;
		background-image: url("../../dist/img/jungle-1807476_640.webp");
		background-position: center;
		background-size: cover;

		&-bg {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}

		&-text {
			position: absolute;
			top: 50%;
			left: 40%;
			transform: translate(-50%, -50%);
			color: white;

			& h2 {
				font-size: 1.2em;
				font-weight: 400;
			}

			& p {
				font-size: 1.5em;
				font-weight: 700;
			}
		}
	}
}

//MAIN

//ABOUT-US SECTION-----------------------------------------------------------------------------------------
.about-us {
	&__box {
		display: flex;
		flex-direction: column;
		padding: 1em;
	}

	&__description {
		&-header {
			margin-top: 1em;
		}

		&-text {
			margin-top: 0.2em;
		}
	}
}

//ADVENTURE SECTION-----------------------------------------------------------------------------------------
.adventure {
	&__box {
		height: 20vh;
		position: relative;
	}

	&__bg {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__img {
		background-image: url("../../dist/img/girl-5785590_640.webp");
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}

	&__description-header {
		display: block;
		width: 70%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 0.8em;
		border: 1px $main-white solid;
		color: $main-white;
		z-index: 5;
		padding: 1em 1em;
	}
}

//OFFER SECTION-----------------------------------------------------------------------------------------

.offer {
	&__boxes {
		display: flex;
		flex-direction: column;
	}

	&__header {
		margin-top: 3rem;
		text-align: center;
		font-weight: normal;
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1em auto;
		padding: 1.5em;
		height: 22em;
		width: 17em;
		border-radius: 2%;
		box-shadow: 0 0 6px $main-gray;

		&-description {
			font-weight: normal;
		}

		&-price {
			font-weight: bold;
			font-size: 3em;
			margin: 0.3em;
		}

		&-benefit-list {
			list-style-type: none;

			&-item {
				margin: 0.1em;
				padding: 0.2em;
			}
		}

		&-button {
			margin-top: 1.5em;
			padding: 0.5em 4em;
			border: none;
			box-shadow: 0 0 6px $main-gray;
			border-radius: 2%;
			cursor: pointer;
			font-size: 1em;
			transition: background-color 0.3s, box-shadow 0.3s;

			&:hover {
				background-color: $main-green;
				box-shadow: 0 0 6px $main-green;
			}
		}
	}
}

//FOOTER----------------------------------------------------------------------------------------
.footer {
	background-color: $footer-background;
	margin-top: 3em;

	
	&__logo {
		display: none;
	}

	&__box {
		height: 100%;
		margin: 2em;
		display: flex;
		justify-content: space-between;
	}

	&__lists {
		display: flex;
		width: 100%;
		justify-content: space-between;

		ul > a li {
			list-style-type: none;
			margin: 0.5em 0;
			font-size: 0.8em;
		}

		a:link {
			text-decoration: none;
			color: $main-black;
			transition: color 0.3s;
		}

		a:visited {
			text-decoration: none;
			color: $main-black;
		}

		a:hover {
			color: $main-gray;
		}

		&-header {
			font-size: 1em;
			margin-top: 2em;
			margin-bottom: .7em;
		}
	}

	&__copy-right {
		display: block;
		height: 100%;
		padding: 1em 0;
		text-align: center;
		border-top: 1px solid $main-gray;
		font-size: .7em;
	}
}

@import "./small";
@import "./medium";
@import "./large";
@import "./generics";
